body{
    background-color: aquamarine;
    text-align: center;
}

#miDialogo {
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-color: white;
    font-family: Arial, sans-serif;
}

#miDialogo p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

#miDialogo button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#miDialogo button:hover {
    background-color: #45a049;
}
